{% extends 'admin.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
    
 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1>Media</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('admin_media') }}">Retour</a>
            {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-toolbar mb-2 mb-md-0">
           <a href="{{ path('media_edit', {'id': media.id}) }}" class="btn btn-sm btn-outline-primary">Éditer</a>

        </div>
        {% else %}
         <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('media_new') }}" class="btn btn-sm btn-outline-primary">Ajouter un Media</a>
            <a href="{{ path('media_edit', {'id': media.id}) }}" class="btn btn-sm btn-outline-primary">Éditer</a>
        </div>
         {% endif %}
            
            {{ include('admin/media/_delete_form.html.twig') }}
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ media.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ media.legend }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="bqimage" src=" /images/{{ asset( media.files ) }}"></td>
            </tr>
          
        </tbody>
    </table>
{% endblock %}
