{% extends 'admin.html.twig' %}

{% block title %}Privatisation {% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1>Privatisations</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('admin_privatisation_new') }}" class="btn btn-sm btn-outline-primary">Ajouter un Privatisation</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adhérent</th>
                <th>Adresse</th>
                <th>Capacité</th>
                <th>Surface</th>
                <th>Services</th>
                <th>Annonce</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for privatisation in privatisations %}
            <tr>
                <td>{{ privatisation.id }}</td>
                <td>{{ privatisation.adherent }}</td>
                <td>{{ privatisation.address }}</td>
                <td>{{ privatisation.capacite }}</td>
                <td>{{ privatisation.surface }}</td>
                <td>{{ privatisation.service }}</td>
                <td>{{ privatisation.annonce }}</td>
                <td>
                    <a href="{{ path('admin_privatisation_show', {'id': privatisation.id}) }}">Voir</a>
                    <a href="{{ path('admin_privatisation_edit', {'id': privatisation.id}) }}">edit</a>
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
