{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block body %}
    <div class="page page-commerces">
        <section class="about-us pb-4">
            <div class="container">
                <h2 class="about-us-title">Les restaurants Côté Stade</h2>
                <p class="about-us-text">
                    Une offre de restauration qui s'adapte à toutes les envies : sandwicheries,
                     fast-food, brasseries, gastronomiques, cuisine du monde.
                <p>
            </div>
        </section>
        <section class="commerces">
            <div class="container">
                <div class="row mb-4">
                    {% for restaurant in restaurants %}
                        <div class="col-md-4 mb-4">
                            <div class="shop-card">
                                <a href="{{ path('adherent_show', {'id': restaurant.id}) }}" class="shop-card__thumbnail">
                                    <img src="{{ asset( 'images/' ~ restaurant.background ) }}" alt="Logo"/>
                                </a>
                                <div class="shop-card__content">
                                    <div class="shop-card__content-header">
                                        <h3 class="shop-card__title">{{ restaurant.name }}</h3>
                                        <div class="shop-card__address">{{ restaurant.address }}</div>
                                    </div>
                                    <div class="shop-card__content-main">
                                        <div class="shop-card__description">
                                            {{ restaurant.description|slice(0, 100) }}
                                            <a href="{{ path('adherent_show', {'id': restaurant.id}) }}">[...]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}