{% extends 'base.html.twig' %}

{% block title %}Adherent{% endblock %}

{% block body %}
    <div class="page single-adherent">
        <section class="adherent-hero"
                 style="background: url('{{ asset('images/' ~ adherent.background) }}') center/cover no-repeat fixed">
            <div class="adherent-hero__content">
                <h1 class="adherent-hero__title">{{ adherent.name }}</h1>
                <p class="adherent-hero__description">{{ adherent.description }}</p>
            </div>
        </section>
        <section class="adherent-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="adherent-info-card">
                            <div class="adherent-info-card__icon">
                                <svg x="0px" y="0px"
                                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                     xml:space="preserve">
                            <g>
                                <g>
                                    <polygon points="339.392,258.624 512,367.744 512,144.896 		"/>
                                </g>
                            </g>
                                    <g>
                                        <g>
                                            <polygon points="0,144.896 0,367.744 172.608,258.624 		"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M480,80H32C16.032,80,3.36,91.904,0.96,107.232L256,275.264l255.04-168.032C508.64,91.904,495.968,80,480,80z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M310.08,277.952l-45.28,29.824c-2.688,1.76-5.728,2.624-8.8,2.624c-3.072,0-6.112-0.864-8.8-2.624l-45.28-29.856
			                           L1.024,404.992C3.488,420.192,16.096,432,32,432h448c15.904,0,28.512-11.808,30.976-27.008L310.08,277.952z"/>
                                        </g>
                                    </g>
                        </svg>
                            </div>
                            <div class="adherent-info-card__title">Email</div>
                            <div class="adherent-info-card__data">
                                <a href="mailto:{{ adherent.email }}">{{ adherent.email }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="adherent-info-card">
                            <div class="adherent-info-card__icon">
                                <svg viewBox="0 0 513.64 513.64" style="enable-background:new 0 0 513.64 513.64;"
                                     xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72
                                                c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68
                                                c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44
                                                l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="adherent-info-card__title">Téléphone</div>
                            <div class="adherent-info-card__data">
                                <a href="tel:{{ adherent.tel|replace({' ': ''}) }}">{{ adherent.tel }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="adherent-info-card">
                            <div class="adherent-info-card__icon">
                                <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                     xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M341.476,338.285c54.483-85.493,47.634-74.827,49.204-77.056C410.516,233.251,421,200.322,421,166
                                                C421,74.98,347.139,0,256,0C165.158,0,91,74.832,91,166c0,34.3,10.704,68.091,31.19,96.446l48.332,75.84
                                                C118.847,346.227,31,369.892,31,422c0,18.995,12.398,46.065,71.462,67.159C143.704,503.888,198.231,512,256,512
                                                c108.025,0,225-30.472,225-90C481,369.883,393.256,346.243,341.476,338.285z M147.249,245.945
                                                c-0.165-0.258-0.337-0.51-0.517-0.758C129.685,221.735,121,193.941,121,166c0-75.018,60.406-136,135-136
                                                c74.439,0,135,61.009,135,136c0,27.986-8.521,54.837-24.646,77.671c-1.445,1.906,6.094-9.806-110.354,172.918L147.249,245.945z
                                                 M256,482c-117.994,0-195-34.683-195-60c0-17.016,39.568-44.995,127.248-55.901l55.102,86.463
                                                c2.754,4.322,7.524,6.938,12.649,6.938s9.896-2.617,12.649-6.938l55.101-86.463C411.431,377.005,451,404.984,451,422
                                                C451,447.102,374.687,482,256,482z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M256,91c-41.355,0-75,33.645-75,75s33.645,75,75,75c41.355,0,75-33.645,75-75S297.355,91,256,91z M256,211
			                                    c-24.813,0-45-20.187-45-45s20.187-45,45-45s45,20.187,45,45S280.813,211,256,211z"/>
                                        </g>
                                    </g>

                                </svg>
                            </div>
                            <div class="adherent-info-card__title">Adresse</div>
                            <div class="adherent-info-card__data">
                                <a href="http://www.google.com/maps?q={{ adherent.address }}"
                                   target="_blank">{{ adherent.address }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="adherent-info-card">
                            <div class="adherent-info-card__icon">
                                <svg viewBox="0 0 476.16 476.16" style="enable-background:new 0 0 476.16 476.16;"
                                     xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M260.113,0.256c27.11,39.264,48.236,82.339,62.686,127.812c33.065-5.187,64.911-16.343,93.986-32.922l8.533-5.291
                                                C384.841,38.629,325.127,6.243,260.113,0.256z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M297.813,166.4c-19.83,2.271-39.774,3.411-59.733,3.413c-19.96-0.003-39.903-1.142-59.733-3.413
			c-4.213,17.945-6.896,36.215-8.021,54.613h135.509C304.71,202.615,302.026,184.345,297.813,166.4z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M238.08,340.48c-16.816,0.015-33.62,0.886-50.347,2.611c12.305,36.743,29.223,71.776,50.347,104.26
			c21.124-32.484,38.041-67.518,50.347-104.26C271.7,341.366,254.896,340.495,238.08,340.48z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M339.831,255.147c-1.04,20.137-3.763,40.153-8.141,59.836c36.337,6.036,71.283,18.595,103.151,37.069l9.643,6.007
			c18.303-31.424,29.141-66.634,31.676-102.912H339.831z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M444.484,118.118l-9.643,6.008c-31.862,18.504-66.808,31.091-103.151,37.154c4.372,19.65,7.095,39.63,8.141,59.733H476.16
			C473.622,184.741,462.785,149.538,444.484,118.118z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M170.325,255.147c1.135,18.4,3.83,36.67,8.055,54.613c39.693-4.534,79.773-4.534,119.467,0
			c4.202-17.946,6.874-36.216,7.987-54.613H170.325z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M41.318,124.126l-9.643-6.008C13.375,149.538,2.538,184.741,0,221.013h136.329c1.046-20.103,3.769-40.084,8.141-59.733
			C108.127,155.217,73.18,142.63,41.318,124.126z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M153.361,348.109c-33.062,5.189-64.907,16.338-93.986,32.905l-8.533,5.308c40.474,51.228,100.192,83.61,165.205,89.583
			C188.933,436.648,167.807,393.579,153.361,348.109z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M238.08,28.826c-21.121,32.48-38.038,67.507-50.347,104.243c16.726,1.734,33.531,2.605,50.347,2.611
			c16.816-0.006,33.62-0.878,50.347-2.611C276.118,96.333,259.201,61.306,238.08,28.826z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M416.785,381.013c-29.079-16.566-60.924-27.715-93.986-32.905c-14.461,45.473-35.605,88.542-62.737,127.795
			c65.014-5.973,124.731-38.355,165.205-89.583L416.785,381.013z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M50.893,89.856l8.482,5.291c29.075,16.579,60.921,27.734,93.986,32.922c14.465-45.477,35.609-88.551,62.737-127.812
			C151.085,6.243,91.371,38.629,50.893,89.856z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M136.329,255.147H0c2.535,36.278,13.372,71.488,31.676,102.912l9.643-6.007c31.868-18.474,66.814-31.032,103.151-37.069
			C140.091,295.299,137.368,275.284,136.329,255.147z"/>
                                        </g>
                                    </g>

</svg>
                            </div>
                            <div class="adherent-info-card__title">Site Web</div>
                            <div class="adherent-info-card__data">
                                <a href="{{ adherent.url }}" target="_blank">{{ adherent.url }}</a>
                            </div>
                        </div>
                    </div>
                    {% if adherent.distance_from_stadium is defined and adherent.distance_from_stadium|length > 0 %}
                    <div class="col-md-3">
                        <div class="adherent-info-card">
                            <div class="adherent-info-card__icon">
                                <svg viewBox="0 0 512 512">
                                    <g>
                                        <g>
                                            <path d="M112,96C50.24,96,0,146.24,0,208c0,57.472,89.856,159.264,100.096,170.688c3.04,3.36,7.36,5.312,11.904,5.312    s8.864-1.952,11.904-5.312C134.144,367.264,224,265.472,224,208C224,146.24,173.76,96,112,96z M112,343.584    C77.056,302.144,32,238.528,32,208c0-44.096,35.904-80,80-80s80,35.904,80,80C192,238.496,146.944,302.144,112,343.584z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M112,160c-26.464,0-48,21.536-48,48s21.536,48,48,48s48-21.536,48-48S138.464,160,112,160z M112,224    c-8.832,0-16-7.168-16-16c0-8.832,7.168-16,16-16c8.832,0,16,7.168,16,16C128,216.832,120.832,224,112,224z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M496,0H368c-8.832,0-16,7.168-16,16v96v64c0,8.832,7.168,16,16,16c8.832,0,16-7.168,16-16v-48h112c8.832,0,16-7.168,16-16    V16C512,7.168,504.832,0,496,0z M480,96h-96V32h96V96z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M448,352H288c-17.632,0-32-14.368-32-32c0-17.632,14.368-32,32-32h34.944c6.624,18.592,24.224,32,45.056,32    c26.464,0,48-21.536,48-48s-21.536-48-48-48c-20.832,0-38.432,13.408-45.056,32H288c-35.296,0-64,28.704-64,64    c0,35.296,28.704,64,64,64h160c17.632,0,32,14.368,32,32c0,17.632-14.368,32-32,32H157.056c-6.624-18.592-24.224-32-45.056-32    c-26.464,0-48,21.536-48,48s21.536,48,48,48c20.832,0,38.432-13.408,45.056-32H448c35.296,0,64-28.704,64-64    C512,380.704,483.296,352,448,352z M368,256c8.832,0,16,7.168,16,16c0,8.832-7.168,16-16,16c-8.832,0-16-7.168-16-16    C352,263.168,359.168,256,368,256z M112,480c-8.832,0-16-7.168-16-16c0-8.832,7.168-16,16-16c8.832,0,16,7.168,16,16    C128,472.832,120.832,480,112,480z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="adherent-info-card__title">Distance par rapport au stade</div>
                            <div class="adherent-info-card__data">
                               {{ adherent.distance_from_stadium }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if adherent.facebook is defined and adherent.facebook|length > 0 %}
                    <div class="col-md-3">
                        <div class="adherent-info-card">
                            <div class="adherent-info-card__icon">
                                <svg viewBox="-110 1 511 511.99996" xmlns="http://www.w3.org/2000/svg"><path d="m180 512h-81.992188c-13.695312 0-24.835937-11.140625-24.835937-24.835938v-184.9375h-47.835937c-13.695313 0-24.835938-11.144531-24.835938-24.835937v-79.246094c0-13.695312 11.140625-24.835937 24.835938-24.835937h47.835937v-39.683594c0-39.347656 12.355469-72.824219 35.726563-96.804688 23.476562-24.089843 56.285156-36.820312 94.878906-36.820312l62.53125.101562c13.671875.023438 24.792968 11.164063 24.792968 24.835938v73.578125c0 13.695313-11.136718 24.835937-24.828124 24.835937l-42.101563.015626c-12.839844 0-16.109375 2.574218-16.808594 3.363281-1.152343 1.308593-2.523437 5.007812-2.523437 15.222656v31.351563h58.269531c4.386719 0 8.636719 1.082031 12.289063 3.121093 7.878906 4.402344 12.777343 12.726563 12.777343 21.722657l-.03125 79.246093c0 13.6875-11.140625 24.828125-24.835937 24.828125h-58.46875v184.941406c0 13.695313-11.144532 24.835938-24.839844 24.835938zm-76.8125-30.015625h71.632812v-193.195313c0-9.144531 7.441407-16.582031 16.582032-16.582031h66.726562l.027344-68.882812h-66.757812c-9.140626 0-16.578126-7.4375-16.578126-16.582031v-44.789063c0-11.726563 1.191407-25.0625 10.042969-35.085937 10.695313-12.117188 27.550781-13.515626 39.300781-13.515626l36.921876-.015624v-63.226563l-57.332032-.09375c-62.023437 0-100.566406 39.703125-100.566406 103.609375v53.117188c0 9.140624-7.4375 16.582031-16.578125 16.582031h-56.09375v68.882812h56.09375c9.140625 0 16.578125 7.4375 16.578125 16.582031zm163.0625-451.867187h.003906zm0 0"/></svg>
                            </div>
                            <div class="adherent-info-card__title">Facebook</div>
                            <div class="adherent-info-card__data">
                                <a href="{{ adherent.facebook }}"
                                   target="_blank">Accéder à la page facebook</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>

{% endblock %}
