{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
    <button class="btn">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}