{% extends 'base.html.twig' %}

{% block title %}Privatisation{% endblock %}

{% block body %}
     <section class="privatizations pb-5">
        <div class="container container-privatisation">
          <img src="{{ asset('images/' ~ privatisation.photo) }}" alt="Photo du lieu"/>
           <div class=" privatization-container">
           <h2 class="privatisation-card__title">{{ privatisation.adherent }}</h2>
           <div class="privatisation-card__address"><h4>{{ privatisation.address }}</h4></div>
           <div class="privatisation-card__address"><h4>{{ privatisation.service }}</h4></div>
            <div class='privatization-content'>
             <p class="privatization-card__description">
               {{ privatisation.annonce }}
             </p>
             <div class='dimention'>
                  <div class="metadata-privatisation-card">
                        <div class="metadata-card__icon icon-proivatisation">
                            <svg viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                    xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M503.467,290.133H8.533c-4.719,0-8.533,3.814-8.533,8.533v102.4c0,4.719,3.814,8.533,8.533,8.533h494.933
                                        c4.719,0,8.533-3.814,8.533-8.533v-102.4C512,293.948,508.186,290.133,503.467,290.133z M494.933,392.533H17.067V307.2h25.6
                                        l-0.009,17.067c0,4.71,3.814,8.533,8.533,8.533c4.71,0,8.533-3.814,8.533-8.533l0.009-17.067h34.133v34.133
                                        c0,4.719,3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533V307.2h34.133v17.067c0,4.719,3.814,8.533,8.533,8.533
                                        c4.719,0,8.533-3.814,8.533-8.533V307.2h34.133v34.133c0,4.719,3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533V307.2h34.133
                                        v17.067c0,4.719,3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533V307.2h34.133v34.133c0,4.719,3.814,8.533,8.533,8.533
                                        s8.533-3.814,8.533-8.533V307.2h34.133v17.067c0,4.719,3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533V307.2h34.133v34.133
                                        c0,4.719,3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533V307.2h34.15l-0.009,17.067c0,4.71,3.814,8.533,8.533,8.533
                                        c4.71,0,8.533-3.814,8.533-8.533l0.009-17.067h25.583V392.533z"/>
                                </g>
                            </g>
                                <g>
                                    <g>
                                        <path d="M8.533,102.4C3.814,102.4,0,106.214,0,110.933V256c0,4.719,3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533v-68.267
                                        v-76.8C17.067,106.214,13.252,102.4,8.533,102.4z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M503.467,102.4c-4.719,0-8.533,3.814-8.533,8.533v76.8V256c0,4.719,3.814,8.533,8.533,8.533
                                        c4.719,0,8.533-3.814,8.533-8.533V110.933C512,106.214,508.186,102.4,503.467,102.4z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M476.032,182.263l-39.62-51.2c-2.142-2.765-5.658-3.763-8.789-2.56c-3.132,1.229-5.222,4.437-5.222,8.03V179.2H89.6
                                        v-42.675c0-3.593-2.091-6.801-5.222-8.021c-3.132-1.22-6.639-0.213-8.789,2.56l-39.62,51.208c-1.22,1.579-1.835,3.524-1.835,5.461
                                        s0.614,3.883,1.835,5.47l39.62,51.2c1.536,1.98,3.78,3.063,6.084,3.063c0.905,0,1.818-0.171,2.697-0.512
                                        c3.132-1.229,5.222-4.437,5.222-8.021v-42.667h332.8v42.667c0,3.593,2.091,6.801,5.222,8.021c0.879,0.341,1.792,0.512,2.697,0.512
                                        c2.304,0,4.548-1.084,6.093-3.063l39.62-51.2c1.229-1.587,1.843-3.524,1.843-5.47S477.252,183.851,476.032,182.263z
                                        M73.754,215.364l-21.385-27.631l21.385-27.631V215.364z M438.246,215.364v-55.262l21.385,27.631L438.246,215.364z"/>
                                    </g>
                                </g>
                        </svg>
                        </div>
                         <div class="metadata-card__data surface">{{ privatisation.surface }} m<sup>2</sup></div>
                    </div>
                    <br>
                <div class=" metadata-privatisation-card">
                                        <div class="metadata-card__icon icon-proivatisation">
                                            <svg viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;"
                                                 xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path d="M240,0c-30.928,0-56,25.072-56,56c0.035,30.913,25.087,55.965,56,56c30.928,0,56-25.072,56-56S270.928,0,240,0z M240,96
                                                        c-22.091,0-40-17.909-40-40c0.026-22.08,17.92-39.974,40-40c22.091,0,40,17.909,40,40S262.091,96,240,96z"/>
                                                </g>
                                            </g>
                                                <g>
                                                    <g>
                                                        <path d="M264,120h-48c-39.746,0.044-71.956,32.254-72,72v136h32v152h16V296h-16v16h-16V192c0.035-30.913,25.087-55.965,56-56h48
			                                    c30.913,0.035,55.965,25.087,56,56v120h-16v-16h-16v184h16V328h32V192C335.956,152.254,303.746,120.044,264,120z"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <rect x="232" y="328" width="16" height="152"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <path d="M400,80c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48S426.51,80,400,80z M400,160
			                                    c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32S417.673,160,400,160z"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <path d="M424,184h-72v16h72c22.08,0.026,39.974,17.92,40,40v104h-16v-16h-16v152h16V360h32V240
			                                    C479.965,209.087,454.913,184.035,424,184z"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <polygon
                                                                points="352,328 352,344 320,344 320,360 352,360 352,480 368,480 368,328 		"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <rect x="392" y="360" width="16" height="120"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <path d="M80,80c-26.51,0-48,21.49-48,48c0.026,26.499,21.501,47.974,48,48c26.51,0,48-21.49,48-48S106.51,80,80,80z M80,160
			                                    c-17.673,0-32-14.327-32-32s14.327-32,32-32s32,14.327,32,32S97.673,160,80,160z"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <path d="M56,184c-30.913,0.035-55.965,25.087-56,56v120h32v120h16V328H32v16H16V240c0.026-22.08,17.92-39.974,40-40h72v-16H56z"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <polygon
                                                                points="128,344 128,328 112,328 112,480 128,480 128,360 160,360 160,344 		"/>
                                                    </g>
                                                </g>
                                                <g>
                                                    <g>
                                                        <rect x="72" y="360" width="16" height="120"/>
                                                    </g>
                                                </g>

                                    </svg>
                                        </div>
                                        <div class="metadata-card__data surface">{{ privatisation.capacite }} personnes</div>
                                    </div>

             </div>

            
            </div>
           
          
           </div>
        </div>

    </section>
{% endblock %}
