{% extends 'admin.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1>Message</h1>
         <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('contact_admin') }}">Retour</a>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Send_at</th>
                <td>{{ contact.sendAt ? contact.sendAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_index') }}">back to list</a>
{% endblock %}
